<nav class="navbar navbar-expand-lg navbar-light" style='background-color: rgb(215 220 226 / 50%);'>
  <div class="container" style='background-color: rgb(215 220 226 / 0%)'>

    <%= link_to "", root_path, class: "navbar-brand fa-solid fa-laptop-code fa-xl" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

   
  </div>
</nav>